@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-primary: #000000;
  --color-secondary: #576070;
  --color-tertiary: #3853db;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  h1 {
    @apply text-2xl font-bold md:text-3xl;
  }

  h2 {
    @apply text-xl font-bold md:text-2xl;
  }

  h3 {
    @apply text-lg font-bold md:text-xl;
  }

  h4 {
    @apply text-base font-bold md:text-lg;
  }

  h5 {
    @apply text-sm font-bold md:text-base;
  }

  p {
    @apply text-sm md:text-lg text-secondary;
  }
}

/* component styles  */

.header {
  @apply flex items-center justify-between px-4 py-6 border-b border-gray-200 sm:py-10 sm:px-8;
}

.card {
  @apply border border-gray-200 rounded-xl py-6 px-4 lg:py-9 lg:px-6;
}

.card2 {
  @apply border border-gray-200 rounded-xl py-6 px-4 lg:py-11 lg:px-7;
}

.card-title {
  @apply text-primary font-semibold;
}

/* custom css for avatar mask  */
