@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-primary: #000000;
  --color-secondary: #576070;
  --color-tertiary: #3853db;
  --color-lightgray: #a6abb3;
  --color-darkblue: #132278;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  h1 {
    @apply text-2xl font-bold md:text-3xl;
  }

  h2 {
    @apply text-xl font-bold md:text-2xl;
  }

  h3 {
    @apply text-lg font-bold md:text-xl;
  }

  h4 {
    @apply text-base font-bold md:text-lg;
  }

  h5 {
    @apply text-sm font-bold md:text-base;
  }

  p {
    @apply text-sm md:text-lg text-secondary;
  }
}

/* component styles  */

.header {
  @apply flex items-center justify-between px-4 py-6 border-b border-gray-200 sm:py-10 sm:px-8;
}

.card {
  @apply border border-gray-200 rounded-xl py-6 px-4 lg:py-9 lg:px-6;
}

.card2 {
  @apply border border-gray-200 rounded-xl py-6 px-4 lg:py-11 lg:px-7;
}

.card-title {
  @apply text-primary font-semibold;
}

.blue-button {
  @apply bg-[#132278] text-white font-semibold text-sm px-6 py-3 rounded-md border-2 border-primary hover:bg-[#132278]/80 transition-all duration-300;
}

/* custom css for avatar mask  */

.avatar {
  position: relative;
  width: 38px;
  height: 38px;
  overflow: hidden;
}

.avatar img {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23000' d='M12.9,7.8C6.1,19.2,-17.3,21.4,-22.3,11.1C-27.2,0.8,-13.6,-21.9,-1.9,-23C9.8,-24.1,19.6,-3.5,12.9,7.8Z' transform='translate(50 50)' stroke-width='0'/%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23000' d='M12.9,7.8C6.1,19.2,-17.3,21.4,-22.3,11.1C-27.2,0.8,-13.6,-21.9,-1.9,-23C9.8,-24.1,19.6,-3.5,12.9,7.8Z' transform='translate(50 50)' stroke-width='0'/%3E%3C/svg%3E");
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(2);
}
